div{
background-color: white;
border:solid black;
font-size:20px;
width:100px;
height:200px;
position:absolute;
bottom: 40px;
}
.pile{
width:120px;
position:absolute;
top:0em;
width:120px;
height:200px;
}

#Nachzieh{
background-color:brown;
width:120px;
position:absolute;
top:1em;
height:200px;
border:solid black;
}

#Ablagestapel{
background-color:white;
position:absolute;
right:2em;
top:1em;
width:120px;
height:200px;
border:solid black;
}
button{
position:absolute;
right: 2em;
top: 20em;
}
body{
background-color:#10a910;}